.jumbotron { 
    font-family: 'Yusei Magic', sans-serif;
    background-color:rgb(46, 164, 162);
    color: white;
    };

.card-header {
    font-family: 'Yusei Magic', sans-serif;
    background-color: rgb(46, 164, 162);
    color: grey;
};

.card-body {
    background-color:rgb(210, 179, 210);
}