
*{
    font-family: 'Yusei Magic', sans-serif;  
};

.card-deck { 
    display: flex;
    padding: 10px;
};

body { 
    font-family: 'Yusei Magic', sans-serif;
};

/* 
.jumbotron { 
    font-family: 'Yusei Magic', sans-serif;
    background-color:rgb(46, 164, 162);
    color: white;
};





.card-body {
    background-color:rgb(210, 179, 210);
}; */